<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainSuite">
  <test thread-count="4" name="ChromeTest">
  <parameter name="browserName" value="chrome" ></parameter>
    <classes>
      <class name="com.SauceDemoTestClasses.TC01VerifyLoginFunctionality"/>
      <class name="com.SauceDemoTestClasses.TC02VerifyLogOutFunctionality"/>
      <class name="com.SauceDemoTestClasses.TC03VerifyAddToCartFunctionality"/>
      <class name="com.SauceDemoTestClasses.TC04VerifyAllProductFunctionality"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
